@model TMSWebPortal.DTO.LoginViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}



<div class="row">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body text-center font-weight-bold" style="font-size: 21px; text-transform:uppercase;">
                <div class="col-lg-2">
                    <div class="row">
                        <div class="col-lg-6">
                            <a class="btn btn-raised btn-success" asp-action="Index" asp-controller="Home">Home</a>

                        </div>
                         
                    </div>

                </div>

                <div class="col-lg-10" style="padding-left: 0px;margin-left: -76px;">
                    TRAFFIC MONITORING SYSTEM
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card card-profile">
            <div class="card-body">
                

                <div class="row mt-0">
                    @* I can add something on the side
                    *@
                    <div class="col-md-12">


                        <form asp-controller="PasswordRecover" asp-action="ChangePassword" method="post">
                            @if (Model.IsErrorOccured)
                            {
                                <h6 class="h6-title text-danger">@Model.Message</h6>
                            }

                            <h4 class="card-title">Please enter your <strong class="text-danger">NEW</strong> Password</h4>

                            <p class="card-description">
                                <div asp-validation-summary="All" class="error text-danger"></div>
                                @*<div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <input asp-for="Username" class="form-control" placeholder="Email Address" hidden>
                                                <span class="bmd-help">
                                                    Please enter your username
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input asp-for="Password" type="password" class="form-control " placeholder="New Password">
                                            <span class="bmd-help">
                                                Please enter your new Password
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="ConfirmPassword" type="password" class="form-control " placeholder="Confirm Password">
                                            <span class="bmd-help">
                                                Confirm Password
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-md-3"></div>
                                </div>
                            </p>
                            <button type="submit" class="btn btn-outline-dark">Confirm Change Password</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4"></div>
</div>


